data/task1/train.txt
data/task2/hw2.1_corpus.txt
src/task1/eval/test_data.txt
data/task2/hw2.1-1_testing_data.txt
data/task2/hw2.1-2_testing_data.txt
.idea/encodings.xml
.idea/dictionaries/c3710.xml
src/task2/test.txt
.idea/sdml-hw2.iml
models/task2/2-2-2_b32e512h128_lr0.5p5/models_epoch20.ckpt
models/task2/2-2-1_b32e512h128_lr0.5p5/models_epoch20.ckpt
models/task1/24_0_b32e512h128_linearRelu_vocab10/models_epoch40.ckpt
src/trigram_model/trigram_model/trigram_model.pkl
src/trigram_model/__MACOSX/trigram_model/._w2i.pkl
src/trigram_model/trigram_model/w2i.pkl
src/trigram_model/trigram_model/trigram_evaluate.py
src/trigram_model/__MACOSX/trigram_model/._trigram_model.pkl
src/trigram_model/__MACOSX/trigram_model/._trigram_evaluate.py
src/trigram_model/__MACOSX/._trigram_model
result/task2-2_LM.txt
result/task2-2.txt
result/task1.png
result/task2-1.txt
result/task2-1.png
result/task2-2.png
result/task2-1_LM.txt
result/task1.txt
models/task2/2-2-2_b32e512h128_lr0.5p5/history.json
models/task2/2-2-1_b32e512h128_lr0.5p5/history.json
models/task1/24_0_b32e512h128_linearRelu_vocab10/history.json
