data/task1/train.txt
data/task2/hw2.1_corpus.txt
src/task1/eval/test_data.txt
data/task2/hw2.1-1_testing_data.txt
data/task2/hw2.1-2_testing_data.txt
.idea/encodings.xml
.idea/dictionaries/c3710.xml
src/task2/test.txt
